/* ############################## Font's start ##################### */
/* Fonts For Heading */
@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Fonts For Numbers */
@font-face {
    font-family: 'editor-note';
    src: url('../fonts/editors-note/EditorsNote-Medium.woff2') format('woff2'),
        url('../fonts/editors-note/EditorsNote-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ############################## global classes start ##################### */
:root {
    /* Typography tokens from Figma */
    --body-font: "plus-jakarta-sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    /* Brand  ver*/
    --brand-primary: #14357A;
    /* Navy-based trust color (good for pressure washing) */
    --brand-accent: #FC621A;
    /* Orange (contrast punch) */

    /* brand support */
    --support-red: #A53906;
    --support-sky: #19ABC8;
    --support-blue: #26419C;

    /* Brand Utility  colors*/
    --text-primary: #1B2A41;
    --text-scondery: #4C6C87;
    --neutral-white: #FFFFFF;
    --tag-green: #19AAC73B;
    --drag-blue: #19AAC7;
    --shadow-cyan: #1AACCA;

    /* global  ver*/
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-text-dark: #1F1F1F;
    --color-grey: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: var(--text-primary);
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: var(--color-brand-primary);
}

h2 {
    font-size: 5cap;
    line-height: 60px;
}

p {
    font-size: 18px;
    color: var(--text-scondery);
}

main {
    padding: 0px;
    margin: 0px;
}

.camo-margin-top {
    margin-top: 100px;
}

a {
    color: var(--text-primary);
    text-transform: capitalize;
}

a:active {
    color: var(--brand-accent);
}

.num {
    font-family: 'editor-note' !important;
}




/* ----------------------------------------------------- USMAN NAVBAR------------------------------ */



.navbar .navbar-nav .nav-link.active {
    color: var(--brand-accent);
}


.btn-call {
    background: linear-gradient(90deg, #ff6a00, #b34500);
    color: var(--neutral-white);
    font-weight: 600;
}

.arrow-icon {
    background: var(--neutral-white);
    color: var(--brand-accent);
    font-size: 10px;
}





/* ----------------------------------------------------------------- USMAN FOOTER----------------------------------- */


/* Custom Social Icons Circle */
.social-icon {
    width: 38px;
    height: 38px;
    border: 2px solid var(--neutral-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background-color: var(--brand-accent);
    border-color: var(--neutral-white);
    transform: translateY(-3px);
}


.footer-link:hover {
    color: var(--brand-accent) !important;
    padding-left: 5px;
}

.back-top {
    background: linear-gradient(90deg, #35597a, #35516b);


}



/* ----------------------------------------------------------------------USMNAN HOME------------------------------ */
.hero-section {
    min-height: 90vh;
}

.hero-img {
    z-index: 1;
}


.btn-estimate {
    background: var(--brand-primary);
    color: white;
    padding: 10px 10px 10px 25px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-estimate .arrow-icon {
    background: white;
    color: var(--brand-primary);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.roof-card {
    position: absolute;
    right: 5%;
    bottom: 20%;
    width: 200px;
    background: white;
    border-radius: 20px;
    padding: 8px;
    z-index: 10;
}

.opacity-90 {
    opacity: 0.9;
}

@media (max-width: 991px) {
    .hero-section {
        text-align: center;
        padding-top: 100px;
    }

    .btn-estimate {
        margin: 0 auto;
    }
}








/* -----------------------------------------------------------------------USMAN SECTION 5------------------------------------ */
.camo-five {
    background: url('../assets/sec5.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
}


.side-line {
    height: 2px;
    width: 160px;
    background-color: #fff;
    opacity: 0.7;
}




/* ----------------------------------------------------------------------USMAN SECTION 6------------------------------ */


.camo-six {
    background: url('../assets/secsix.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
}




.text-navy {
    color: #1B2A41 !important;
}

.bg-orange {
    background: linear-gradient(90deg, #FC621A, #A53906);
}


.icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.six-h4 {
    color: #1B2A41;
}

.six-p {
    color: #4C6C87;
}


.camo-six-card {
    transition: all .3s ease !important;
}

.camo-six-card:hover {
    background-color: #14357A !important;
    cursor: pointer;
}

.camo-six hr {
    transition: all .3s ease !important;
}

.camo-six-card:hover h4 {
    color: white;
    cursor: pointer;
}

.camo-six-card p {
    transition: all .3s ease !important;
}

.camo-six-card:hover p {
    color: white;
    cursor: pointer;
}

.camo-six-card .icon-circle {
    transition: all .3s ease !important;
}

.camo-six-card:hover .icon-circle {
    background: #536c9e !important;
    cursor: pointer;
}



/* --------------------------------------------------------------------USMAN SECTION 7 ARTICLES------------------------------- */
.article {
    background-color: #14357A;
}

.art {
    background-color: #19AAC73B;
    color: #19AAC7;

}

.art-h4 {
    color: #1B2A41;
}

.camo-btn-dark {
        font-weight: 600;
    width: fit-content;
    border-radius: 20px;
    font-size: 14px;
    background: linear-gradient(135deg, #26419C 50%, #19ABC8);
    color: var(--color-white);
}

.camo-btn-dark svg rect {
    fill: var(--color-white);
}

.camo-btn-dark svg path {
    fill: var(--color-black);
}

.articon {
    background-color: #143578;

}

.arrow-white {
    filter: brightness(0) invert(1);
}



/* -------------------------------------------------------------------------USMAN SECTION 3 TAGLINE ------------------------- */





.marquee-section {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
}

.marquee-container {
    display: flex;
    overflow: hidden;
    user-select: none;
}

.marquee-content {
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    animation: scroll-left 10s linear infinite;
}


@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-10%);
    }
}


.combo-text {
    color: #BDEBF3;
    letter-spacing: -2px;
    margin-bottom: 0;
    line-height: 1;
}

.bubble-img {
    width: clamp(80px, 12vw, 160px);
    height: auto;
}


.marquee-container:hover .marquee-content {
    animation-play-state: paused;
}







/* ----------------------------------------------------------------------------USMAN BENEFITS SECTION -----------------------------*/

.bubble-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    width: 40%;
}



.benefit-item {
    margin-bottom: 60px;
}


.stick-one {
    top: 30px;
    left: 50px;
}

.stick-two {
    top: 30px;
    right: 50px;

}

.benefit-title {
    font-weight: 800;
    color: #233142;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.benefit-text {
    max-width: 250px;
}

@media (max-width: 991px) {
    .stick {
        display: none;
    }
}




/* ---------------------------------------------------------------------------TESTIMONIAL SLIDER------------------------- */

.camo-testimonials .swiper {
    width: 100%;
    height: 600px;
    padding-bottom: 60px;
}

.camo-testimonials .swiper-slide {
    text-align: start;
    font-size: 18px;
    background: #444;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.camo-testimonials .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.rounded-review {
    border-radius: 2.5rem;
}

.google-logo {
    width: 62px !important;
    height: 62px !important;
    margin-left: auto;



}

.profile-img {
    width: 72px !important;
    height: 72px !important;


}

.testimonial-card {
    transition: all .3s ease;
}

.testimonial-card:hover {
    background: #14357A !important;
    cursor: pointer;
}

.testimonial-card:hover p {
    color: white;
}

.testimonial-card:hover .testimonial-name {
    color: white !important;
}

.testimonial-card:hover .testimonial-date {
    color: white !important;
}

.testimonial-pagination .swiper-pagination-bullet {
    background: #ACACAC;
    width: 14px;
    height: 14px;
    transition: all 0.3s ease;
}

.testimonial-pagination .swiper-pagination-bullet-active {
    background: #FC621A;
}







/* ---------------------------------------------------------------------------------ABOUT-PAGE------------------------------- */

/* --------------------------------------------------------------------------------SECTION TWO MISSION-------------------------- */

section.camo-about p {
    font-size: 15px;
}

section.camo-about .container .row.bg-white {
    border-radius: 50px;
    padding: 30px 20px 30px 50px !important;
}
/* 
.image .desc {
    bottom: 30px;
    left: 30px;
    color: white;
    width: 80%;
} */


.image{
 background-color: #CAF6FF;
 height: 430px;
 border-radius: 35px;
}

