@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('PlusJakartaSans-Bold.woff2') format('woff2'),
        url('PlusJakartaSans-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('PlusJakartaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('PlusJakartaSans-Regular.woff2') format('woff2'),
        url('PlusJakartaSans-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('PlusJakartaSans-Medium.woff2') format('woff2'),
        url('PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('PlusJakartaSans-Light.woff2') format('woff2'),
        url('PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}








